@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1703123456789') format('woff2'),
       url('iconfont.woff?t=1703123456789') format('woff'),
       url('iconfont.ttf?t=1703123456789') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 常用图标类 */
.icon-play:before {
  content: "\e6a3";
}

.icon-pause:before {
  content: "\e6a4";
}

.icon-stop:before {
  content: "\e6a5";
}

.icon-volume:before {
  content: "\e6a6";
}

.icon-mute:before {
  content: "\e6a7";
}

.icon-fullscreen:before {
  content: "\e6a8";
}

.icon-exit-fullscreen:before {
  content: "\e6a9";
}

.icon-settings:before {
  content: "\e6aa";
}

.icon-home:before {
  content: "\e6ab";
}

.icon-user:before {
  content: "\e6ac";
}

.icon-message:before {
  content: "\e6ad";
}

.icon-activity:before {
  content: "\e6ae";
}

.icon-search:before {
  content: "\e6af";
}

.icon-heart:before {
  content: "\e6b0";
}

.icon-like:before {
  content: "\e6b1";
}

.icon-share:before {
  content: "\e6b2";
}

.icon-comment:before {
  content: "\e6b3";
}

.icon-close:before {
  content: "\e6b4";
}

.icon-arrow-up:before {
  content: "\e6b5";
}

.icon-arrow-down:before {
  content: "\e6b6";
}

.icon-arrow-left:before {
  content: "\e6b7";
}

.icon-arrow-right:before {
  content: "\e6b8";
}

.icon-plus:before {
  content: "\e6b9";
}

.icon-minus:before {
  content: "\e6ba";
}

.icon-check:before {
  content: "\e6bb";
}

.icon-star:before {
  content: "\e6bc";
}

.icon-fire:before {
  content: "\e6bd";
}

.icon-lightning:before {
  content: "\e6be";
}

.icon-sword:before {
  content: "\e6bf";
}

.icon-shield:before {
  content: "\e6c0";
}

.icon-crown:before {
  content: "\e6c1";
}

.icon-trophy:before {
  content: "\e6c2";
}

.icon-gift:before {
  content: "\e6c3";
}

.icon-diamond:before {
  content: "\e6c4";
}

.icon-coin:before {
  content: "\e6c5";
}

.icon-time:before {
  content: "\e6c6";
}

.icon-calendar:before {
  content: "\e6c7";
}

.icon-location:before {
  content: "\e6c8";
}

.icon-phone:before {
  content: "\e6c9";
}

.icon-email:before {
  content: "\e6ca";
}

.icon-camera:before {
  content: "\e6cb";
}

.icon-video:before {
  content: "\e6cc";
}

.icon-music:before {
  content: "\e6cd";
}

.icon-image:before {
  content: "\e6ce";
}

.icon-file:before {
  content: "\e6cf";
}

.icon-download:before {
  content: "\e6d0";
}

.icon-upload:before {
  content: "\e6d1";
}

.icon-edit:before {
  content: "\e6d2";
}

.icon-delete:before {
  content: "\e6d3";
}

.icon-copy:before {
  content: "\e6d4";
}

.icon-paste:before {
  content: "\e6d5";
}

.icon-refresh:before {
  content: "\e6d6";
}

.icon-sync:before {
  content: "\e6d7";
}

.icon-wifi:before {
  content: "\e6d8";
}

.icon-bluetooth:before {
  content: "\e6d9";
}

.icon-battery:before {
  content: "\e6da";
}

.icon-signal:before {
  content: "\e6db";
}

.icon-lock:before {
  content: "\e6dc";
}

.icon-unlock:before {
  content: "\e6dd";
}

.icon-eye:before {
  content: "\e6de";
}

.icon-eye-close:before {
  content: "\e6df";
}

.icon-bell:before {
  content: "\e6e0";
}

.icon-bell-off:before {
  content: "\e6e1";
}

.icon-menu:before {
  content: "\e6e2";
}

.icon-more:before {
  content: "\e6e3";
}

.icon-filter:before {
  content: "\e6e4";
}

.icon-sort:before {
  content: "\e6e5";
}

.icon-grid:before {
  content: "\e6e6";
}

.icon-list:before {
  content: "\e6e7";
}

.icon-bookmark:before {
  content: "\e6e8";
}

.icon-tag:before {
  content: "\e6e9";
}

.icon-link:before {
  content: "\e6ea";
}

.icon-external:before {
  content: "\e6eb";
}

.icon-info:before {
  content: "\e6ec";
}

.icon-warning:before {
  content: "\e6ed";
}

.icon-error:before {
  content: "\e6ee";
}

.icon-success:before {
  content: "\e6ef";
}

.icon-question:before {
  content: "\e6f0";
}

.icon-help:before {
  content: "\e6f1";
}

.icon-tip:before {
  content: "\e6f2";
}

.icon-loading:before {
  content: "\e6f3";
}

.icon-spinner:before {
  content: "\e6f4";
}

.icon-dots:before {
  content: "\e6f5";
}

.icon-dot:before {
  content: "\e6f6";
}

.icon-line:before {
  content: "\e6f7";
}

.icon-circle:before {
  content: "\e6f8";
}

.icon-square:before {
  content: "\e6f9";
}

.icon-triangle:before {
  content: "\e6fa";
}

.icon-hexagon:before {
  content: "\e6fb";
}

.icon-pentagon:before {
  content: "\e6fc";
}

.icon-octagon:before {
  content: "\e6fd";
}

.icon-ellipse:before {
  content: "\e6fe";
}

.icon-polygon:before {
  content: "\e6ff";
}
